<div class="card mb-3 event-card" >
  <div class="card-body">
    <h5 class="card-title">
      <a href="{{ fields.path.content }}" style="color: inherit; text-decoration: none;">
        {{ fields.title.content }}
      </a>
    </h5>
    <p class="card-text">
      {{ fields.field_event_location.content }}
    </p>
    <p class="card-text">
      {{ fields.field_event_start_date_and_time.content }} - {{ fields.field_event_end_date_and_time.content }}
    </p>
  </div>
</div>
